@charset "UTF-8";

ul {
	list-style: square;
}

li a {
	line-height: 30px;
	font-size: 14px;
	color: blue;
	text-decoration: none;
}

a[href$="hwp"] { /* 연결한 파일의 확장자가 hwp인 링크!!!!!!!!에 적용쓰 */
	background: url(../images/hwp_icon.gif) center right no-repeat;
	/* 배경으로 hwp 아이콘 표시!!!! */
	padding-right: 25px; /* 아이콘을 표시할 수 있도록 오른쪽에 25px 여백 !!!!!!*/
}

a[href$="xls"] { /* 연결한 파일의 확장자가 hwp인 링크에 적용!!!! */
	background: url(../images/excel_icon.gif) center right no-repeat;
																	/* 배경으로 hwp 아이콘 표시 */
	padding-right: 25px; /* 아이콘을 표시할 수 있도록 오른쪽에 25px 여백 */
}