@charset "UTF-8";

body {
	font-family: "맑은 고딕", "고딕", "굴림";
}

table, td {
	border: 1px solid #ccc;
}

.table1 {
	border-collapse: collapse;
	width: 300px;
	table-layout: fixed;
	word-break: break-all;
	height: auto;
}

.table1 td {
	width: 150px;
	border: 1px solid black;
	padding: 5px;
}