@charset "UTF-8";

.origin{
	width:210px;
	height:200px;
	border:1px solid black;
	float:left;
	margin:40px;
	
	
}
.scalex:hover{
	-webkit-transform:scaleX(1.2);
	-ms-transform:scaleX(1.2);
	-moz-transform:scaleX(1.2);
	-o-transform:scaleX(1.5);
	transform:scaleX(1.5)
	
}
.scaley:hover{
	-webkit-transform:scaleY(1.2);
	-ms-transform:scaleY(1.2);
	-moz-transform:scaleY(1.2);
	-o-transform:scaleY(1.5);
	transform:scaleY(1.5)
	
}
.scale:hover{
	-webkit-transform:scale(0.7);
	-ms-transform:scale(0.7));
	-moz-transform:scale(0.7);
	-o-transform:scale(0.7);
	transform:scale(0.7)
	
}